.about-us {
  position: relative;
  margin: 117px auto 0;
  display: flex;
  width: 100%;
  max-width: 1170px;
  height: 305px;
  @include viewport--lg {
    height: 346px;
    margin-top: 62px;
  }

  @include viewport--sm {
    height: auto;
  }
}

.about-us__left-side {
  padding-left: 4px;
  min-width: 119px;
  max-width: 119px;
  margin-right: 60px;
  @include viewport--lg {
    margin-right: 53px;
    min-width: 135px;
    max-width: 135px;
    img {
      width: 100%;
    }
  }

  @include viewport--sm {
    display: none;
  }
}

.about-us__right-side {
  margin-left: auto;
  height: 297px;
  max-width: 988px;
  display: flex;
  flex-direction: column;
  a {
    margin-top: auto;
    flex-grow: 0;
    width: max-content;
    min-width: 180px;
    font-family: $font-family--roboto;
    color: $deep-sky-blue;
    border-color: $deep-sky-blue;

    @include viewport--sm {
      margin-top: 33px;
    }
  }

  @include viewport--lg {
    height: 345px;
  }

  @include viewport--sm {
    max-height: 478px;
    height: auto;
  }
}

.about-us__text-wrp {
  overflow: hidden;
  height: 230px;

  @include viewport--lg {
    height: 260px;
  }

  @include viewport--sm {
    height: auto;
    max-height: 400px;
  }

  h2 {
    margin-top: -5px;
    margin-bottom: 29px;
    font-size: 36px;
    line-height: 36px;
    font-family: $font-family--roboto;
    font-weight: 400;
    color: $dim-gray;

    @include viewport--lg {
      font-size: 32px;
      margin-top: -3px;
    }

    @include viewport--sm {
      font-size: 28px;
      margin-bottom: 22px;
    }
  }

  p {
    margin-top: 0px;
    margin-bottom: 21px;
    font-size: 16px;
    font-family: $font-family--mono;
    line-height: 22px;
    color: $dim-gray;
    @include viewport--sm {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }


}
