.btn {
  padding: 19px 13px;
  height: 55px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: $color-default-white;
  background-color: $color-transparent;
  border: none;
  border-radius: 5px;

}

.btn-border {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  background-color: $color-transparent;
  padding: 14px 13px;
  border: 1px solid $color-default-white;
  border-radius: 5px;
  color: $color-default-white;
  font-weight: 700;
}
