.feedback-form {
  max-width: 570px;
  width: 100%;

  span {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include viewport--sm {
      flex-direction: column;
      align-items: unset;
    }
  }

  input[type=text],
  input[type=tel],
  textarea {
    //max-width: 270px;
    height: 50px;
    padding-left: 16px;
    margin-bottom: 30px;
    width: calc(50% - 15px);
    font-size: 16px;
    font-family: $font-family--mono;
    color: $color-default-white;
    border: none;
    background-color: rgba($color-default-white, 0.1);
    &::placeholder {
      color: $color-default-white;
    }

    @include viewport--sm {
      width: 100%;
    }

    @include viewport--sm {
      margin-bottom: 33px;
    }
  }

  textarea {
    margin-top: 10px;
    margin-bottom: 37px;
    width: 100%;
    padding: 13px 16px;
    max-width: 100%;
    height: 154px;
    line-height: 22px;
    @include viewport--md {
      height: 163px;
    }

    @include viewport--sm {
      margin-top: -1px;
      margin-bottom: 24px;
      height: 104px;
    }
  }

  button {
    width: calc(50% - 15px);
    margin-right: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    background-color: $color-transparent;
    padding: 14px 13px;
    border: 1px solid $color-default-white;
    border-radius: 5px;
    color: $color-default-white;
    font-weight: 700;

    @include viewport--sm {
      width: 100%;
    }
  }

  input[type=checkbox] {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  input[type=checkbox] + label {
    position: relative;
    display: block;
    height: 27px;
    max-width: 262px;
    width: calc(50% - 15px);
    padding-left: 32px;
    font-size: 14px;
    line-height: 16px;
    color: rgba($color-default-white, 0.8);

    &::before {
      transition: background-position $default-transition-settings;
      position: absolute;
      content: '';
      background-image: url('../img/svg/checked.svg');
      background-repeat: no-repeat;
      background-size: 8px 6px;
      background-position: center -30px;
      left: 0;
      top: 1px;
      width: 16px;
      height: 16px;
      border: 1px solid $color-default-white;
    }

    @include viewport--md {
      max-width: 270px;
    }

    @include viewport--sm {
      margin-top: 30px;
      width: 100%;
      max-width: 100%;
    }
  }

  input[type=checkbox]:checked + label {
    &::before {
      background-position: center;
    }
  }
}
