.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;

  background-color: rgba($color-default-black, 0.6);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: opacity $modal-transition-settings,
    transform $modal-transition-settings,
    visibility $modal-transition-settings;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;

    @include viewport--sm {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    width: 600px;
    padding: 38px 40px;

    background-color: $color-default-white;

    @include viewport--sm {
      width: 100%;
      padding: 20px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 17px;
    right: 17px;
    width: 19px;
    height: 19px;
    fill: $color-default-white;
    svg {
      width: 19px;
      height: 19px;
    }
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include viewport--sm {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    display: none;
  }

  &--active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

}

.modal__content {
  background-color: $deep-sky-blue;
  width: 490px;

  .modal-feedback-title {
    margin: 0;
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
    font-family: $font-family--roboto;
    color: $color-default-white;

    @include viewport--md {
      font-size: 32px;
      line-height: 45px;
    }

    @include viewport--sm {
      font-size: 28px;
      line-height: 39px;
    }
  }

  .feedback-form {
    span {
      flex-wrap: wrap !important;
    }

    input,
    button {
      width: 100% !important;
      margin-right: 0;
    }

    label {
      margin-top: 34px;
      width: 100% !important;
      max-width: 100% !important;
    }

    textarea {
      height: 104px;
      margin-top: 0;
      margin-bottom: 23px;
    }

  }


  .modal-feedback-description {
    margin: 15px 0 36px;
    font-size: 16px;
    line-height: 22px;
    font-family: $font-family--mono;
    color: $color-default-white;
  }

  .feedback-form {

  }
}
