<div class="ask-me" id="ask-me">
  <span class="ask-me-bg"></span>
  <div class="ask-me__wrp">
    <div class="ask-me__left-side">
      <picture>
        <!-- 1х: 511px; 2x: 1022px -->
        <source type="image/webp" srcset="img/content/paper-airplane.webp, img/content/paper-airplane@2x.webp 2x" media="(min-width: 1024px)">
        <source type="image/png" srcset="img/content/paper-airplane.png, img/content/paper-airplane@2x.png 2x" media="(min-width: 1024px)">
        <img src="img/svg/logo.svg" alt="Бумажный самолёт">
      </picture>
    </div>
    <div class="ask-me__right-side">
      <h2>Остались вопросы? Задайте их нам!</h2>
      <p>Мы проконсультируем Вас бесплатно</p>
      @@include("source/html/components/feedback-form.html")
    </div>
  </div>
</div>

