<div class="main-header">
  <span class="main-header__bg-polygon"></span>
  <div class="main-header__text">
    <h2 class="main-header__title">Печатные платы</h2>
    <p class="main-header__description">производство и монтаж, поставка комплектующих, блоков и модулей</p>
    <button class="main-header__button btn"
      data-mobile-text="Бесплатная консультация"
      data-text="Получить бесплатную консультацию"
      aria-label="Получить бесплатную консультацию">
    </button>
  </div>
  <a class="main-header__scroll">Скролл вниз</a>
  <div class="main-header__img">
    <picture>
      <!-- 1х: 705px; 2x: 1410px -->
      <source type="image/webp" srcset="img/content/main-header.webp, img/content/main-header@2x.webp 2x" media="(min-width: 1024px)">
      <source type="image/png" srcset="img/content/main-header.png, img/content/main-header@2x.png 2x" media="(min-width: 1024px)">
      <!-- 1х: 530px; 2x: 705px -->
      <source type="image/webp" srcset="img/content/main-header@0.75x.webp, img/content/main-header.webp 2x" media="(min-width: 768px)">
      <source type="image/png" srcset="img/content/main-header@0.75x.png, img/content/main-header.png 2x" media="(min-width: 768px)">
      <!-- 1х: 353px; 2x: 530px -->
      <source type="image/webp" srcset="img/content/main-header@0.5x.webp, img/content/main-header@0.75x.webp 2x">
      <img
          srcset="img/content/main-header@0.5x.png, img/content/main-header@0.75x.png 2x"
          src="img/content/main-header@0.5x.png"
          width="300" height="220"
          alt="Картинка печатные платы">
    </picture>
  </div>

</div>
