<div class="product-bg">
  <div class="product">
    <h2 class="product__title">Smart Device предлагает следуюзие товары и услуги</h2>
    <div class="product__card-wrp">
      <a class="product__card" href="#">
        <picture>
          <!-- 1х: 370px; 2x: 740px -->
          <source type="image/webp" srcset="img/content/product-1.webp, img/content/product-1@2x.webp 2x"
                  media="(min-width: 1024px)">
          <source type="image/jpg" srcset="img/content/product-1.jpg, img/content/product-1@2x.jpg 2x"
                  media="(min-width: 1024px)">
          <!-- 1х: 715px; 2x: 1430px -->
          <source type="image/webp" srcset="img/content/product-1--tab.webp, img/content/product-1--tab@2x.webp 2x"
                  media="(min-width: 768px)">
          <source type="image/jpg" srcset="img/content/product-1--tab.jpg, img/content/product-1--tab@2x.jpg 2x"
                  media="(min-width: 768px)">
          <!-- 1х: 290px; 2x: 580px -->
          <source type="image/webp" srcset="img/content/product-1--mob.webp, img/content/product-1--mob@2x.webp 2x">
            <img type="image/jpg" srcset="img/content/product-1--mob.jpg, img/content/product-1--mob@2x.jpg 2x"
               src="img/content/product-1--mob.jpg"
               width="290" height="256" alt="Картинка товаров и услуг">
        </picture>
        <h3>Производство печатных плат</h3>
      </a>
      <a class="product__card" href="#">
        <picture>
          <!-- 1х: 370px; 2x: 740px -->
          <source type="image/webp" srcset="img/content/product-2.webp, img/content/product-2@2x.webp 2x"
                  media="(min-width: 1024px)">
          <source type="image/jpg" srcset="img/content/product-2.jpg, img/content/product-2@2x.jpg 2x"
                  media="(min-width: 1024px)">
          <!-- 1х: 720px; 2x: 1440px -->
          <source type="image/webp" srcset="img/content/product-2--tab.webp, img/content/product-2--tab@2x.webp 2x"
                  media="(min-width: 768px)">
          <source type="image/jpg" srcset="img/content/product-2--tab.jpg, img/content/product-2--tab@2x.jpg 2x"
                  media="(min-width: 768px)">
          <!-- 1х: 290px; 2x: 580px -->
          <source type="image/webp" srcset="img/content/product-2--mob.webp, img/content/product-2--mob@2x.webp 2x">
          <img type="image/jpg" srcset="img/content/product-2--mob.jpg, img/content/product-2--mob@2x.jpg 2x"
                  src="img/content/product-2--mob.jpg"
                  width="290" height="256" alt="Картинка товаров и услуг">
        </picture>
        <h3>Монтаж печатных плат</h3>
      </a>
      <a class="product__card" href="#">
        <picture>
          <!-- 1х: 370px; 2x: 740px -->
          <source type="image/webp" srcset="img/content/product-3.webp, img/content/product-3@2x.webp 2x"
                  media="(min-width: 1024px)">
          <source type="image/jpg" srcset="img/content/product-3.jpg, img/content/product-3@2x.jpg 2x"
                  media="(min-width: 1024px)">
          <!-- 1х: 720px; 2x: 1440px -->
          <source type="image/webp" srcset="img/content/product-3--tab.webp, img/content/product-3--tab@2x.webp 2x"
                  media="(min-width: 768px)">
          <source type="image/jpg" srcset="img/content/product-3--tab.jpg, img/content/product-3--tab@2x.jpg 2x"
                  media="(min-width: 768px)">
          <!-- 1х: 290px; 2x: 580px -->
          <source type="image/webp" srcset="img/content/product-3--mob.webp, img/content/product-3--mob@2x.webp 2x">
          <img type="image/jpg" srcset="img/content/product-3--mob.jpg, img/content/product-3--mob@2x.jpg 2x"
               src="img/content/product-3--mob.jpg"
               width="290" height="256"
               alt="Картинка товаров и услуг">
        </picture>
        <h3>Комплектующие для светотехники</h3>
      </a>
    </div>
  </div>
</div>
