<header class="header @@if (context.mod) { header--@@mod }">
  <div class="header__wrapper">
    <a class="header__logo logo" @@if (!context.main) { href="main.html"} aria-label="Переход на главную">
      <svg class="logo__icon" viewBox="0 0 52 52" width="52" height="52">
        <use xlink:href="#logo" />
      </svg>
      <span class="logo__text">
        <img src="img/svg/logo-text.svg" alt="Smart Device" width="133" height="40">
      </span>
    </a>
    <nav class="main-nav">
      <div class="main-nav__wrapper">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a class="main-nav__link main-nav__link--mail @@if (context.headerActiveLinkIndex === 0) { main-nav__link--active }" @@if (context.headerActiveLinkIndex !== 0) { href="mailto:info@entogourmet.com" }
               aria-label="Написать нам на почту">
              <svg class="main-nav__link-icon" viewBox="0 0 26 19" width="19" height="14">
                <use xlink:href="#icon-mail" />
              </svg>
              <span class="main-nav__link-text">info@sd.ru</span>
            </a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link main-nav__link--tel @@if (context.headerActiveLinkIndex === 1) { main-nav__link--active }" @@if (context.headerActiveLinkIndex !== 1) { href="tel:+74950005252" }
              aria-label="Позвонить нам">
              <svg class="main-nav__link-icon" viewBox="0 0 25 24" width="18" height="18">
                <use xlink:href="#phone-call" />
              </svg>
              <span class="main-nav__link-text">+7 (495) 000 52 52</span>
            </a>
          </li>
          <li class="main-nav__item">
            <button class="main-nav__button btn-border"
                    type="button"
                    data-modal="feedback">Заказать звонок</button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
